/*General Styles*/

* {
    font-family: 'Mukta', sans-serif;
    color: white;
    max-width: 100%;
}

html {
    background-color: rgb(0, 120, 124);
}

.blue {
    color: rgb(0, 200, 240);
}

/*Header section*/

header {
    display: grid;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../img/nick-fewings-Of8XhtKP-Us-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

}

header h1 {
    font-size: 12rem;
    margin-left: 20%;
}

@media only screen and (max-width: 950px) {
    header h1 {
        margin: auto;
        font-size: 5rem;
    }
}

/*Main Section*/

main {
    display: grid;
    width: 100%;
}

/*Introduction*/

.introduction {
    display: grid;
    width: 100%;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.introduction .text {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    padding: 1rem;
    max-width: 560px;
}

.introduction img {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    width: 100%;
    max-height: 100%;
}

/*What do you need?*/

.needed {
    display: grid;
    width: 100%;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.needed .text {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    padding: 1rem;
}

.needed img {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    width: 100%;
    max-height: 100%;
}

/*Gallery*/

.gallery {
    display: grid;
    width: 100%;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-items: center;
    margin-top: 3rem;
}

.gallery img {
    width: 100%;
    max-height: 100%;
}

/*Where?*/

.findus {
    display: grid;
    width: 100%;
    height: fit-content;
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    align-items: center;
}

.findus .text {
    grid-row: 1 / span 1;
    text-align: center;
    height: fit-content;
}

.findus img {
    grid-row: 2 /span 1;
    width: 50%;
    max-height: 100%;
}

@media only screen and (max-width: 840px) {
    .findus img {
        width: 80%;
    }

    .findus {
        max-height: 25rem;
    }
}

/*Footer*/

footer h4 {
    margin: 2rem auto 0 3rem;
}

footer ul {
    list-style: none;
    margin: 0 auto 0 3rem;
}

footer a {
    text-decoration: underline;
    color: aliceblue;
}

footer a:hover {
    text-decoration: none;
    color: blue;
}
